*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fafcd4;
}
/* Cabeçalho */ 
  header{
    margin: 10px 0  ;
    padding: 0 100px;  
  }

  /* Parte da intereção */

  #interation{
    display: flex;
    justify-content: space-between;
    gap: 20px ;
  }

  /* botão deafault */
  .btn{
    padding: 15px;
    color: white;
    border: none;
    background-color: #CEDF9F;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow ease 0.3s;
  }

  .btn:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  /* pesquisar */
  #seach{
    display: flex;
    width: 80%;
    position: relative;
  }

  #seach i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #CEDF9F; 
    margin: 0 13px;
  }

  #seach input{
    padding-left: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: black;
  }

  #seach input:focus{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.075);
  }
  #btn-seach{
      background-color: aliceblue;
      cursor: auto;
  }

  /* botão de usuario e carrinho */
    #user{
      display: flex;
      gap: 20px;
    }

    #btn-cart{
      background-color: #fff;
      border: 1px solid #CEDF9F;
      color: #CEDF9F;
    }

  /* Nav-bar */
  .options-dishes{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    gap: 10px;
  }

  .option{
    display: flex;
    position: relative;
    margin: 30px 0px;
    width: 150px;
    height: 150px;
    background-color: #cedf9f1e;
    border: 1px solid #383d2b;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
  }

  .option:hover{
    background-color: #CEDF9F;
  }

/* food */
  #candy{
    height: 70%;
    width: 70%;
  }

  #pizza{
    height: 70%;
    width: 70%;
  }

  #bife{
    width: 75%;
    height: 110%;
  }

  #prato{
    width: 85%;
    height: 85%;
  }

  #drink{
    position: relative;
    top: -5px;
    width: 75%;
  }

  #vegan{
    height: 75%;
  }



  /* responsividade */
@media screen and (max-width: 600px){

  header{
    padding: 0 20px;  

  }


  #btn-user{
    display: none;
  }
}