@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #fafcd4;
}
/* Cabeçalho */ 
  header{
    margin: 10px 0  ;
    padding: 0 100px;  
  }

  /* Parte da intereção */

  #interation{
    display: flex;
    justify-content: space-between;
    gap: 20px ;
  }

  /* botão deafault */
  .btn{
    padding: 15px;
    color: white;
    border: none;
    background-color: #CEDF9F;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow ease 0.3s;
    width: 50px;
  }

  .btn:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:focus{
    outline: none;
    border: 0.1px solid #49523231;
  }
  /* Logo */
  #logo{
    font-size: 1.2rem;
    color: #404631;
  }

  #logo span{
    color: #8d996c;
  }
  
/* botão de usuario e carrinho */
    #user{
      display: flex;
      gap: 20px;
    }

    #btn-cart{
      background-color: #fff;
      border: 1px solid #CEDF9F;
      color: #CEDF9F;
    }

    /* CTA */
    #home{
      min-height: calc(100vh - 55px);
      display: flex;
      position: relative;
      padding: 10px 100px;
    }

    #cta{
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 70%;
    }

    /* tittle */
    .cta-tittle{
      font-size: 2.5rem;
    }

    .cta-tittle span{
      color: #404631;
    }

    /* descripition */
    .cta-desc{
      font-size: 1.2rem;
    }
    
    .cta-desc span{
      color: #78a10f;
      text-decoration: underline;
     }
    

    .cta-input{
      position: relative;
      display: inline-block;
    }

    .cta-input i{
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #383d2b;
    }
    
    .cta-input input{
      color: rgb(31, 31, 31);
      padding-left: 30px;
      cursor: auto;
      background-color: #fafcd4;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }


    /* banner */

    .banner img{
      width: 100%;
      height: 95%;
      border-radius: 50%;
    }
    
    .shape{
      background-color: #CEDF9F;
      width: 50%;
      height: 100%;
      position: absolute;
      border-radius: 40% 30% 0% 20%;
      top: 0;
      right: 0;
      z-index: -1;
  }

    /* seach */
    
    #btn-seach{
      width: 100%;
    }


  /* Nav-bar */
  .options-dishes{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    gap: 10px;
  }

  .option{
    display: flex;
    position: relative;
    margin: 30px 0px;
    width: 150px;
    height: 150px;
    background-color: #cedf9f1e;
    border: 1px solid #383d2b;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
  }

  .option:hover{
    background-color: #CEDF9F;
  }

/* food */
  #candy{
    height: 70%;
    width: 70%;
  }

  #pizza{
    height: 70%;
    width: 70%;
  }

  #bife{
    width: 75%;
    height: 110%;
  }

  #prato{
    width: 85%;
    height: 85%;
  }

  #drink{
    position: relative;
    top: -5px;
    width: 75%;
  }

  #vegan{
    height: 75%;
  }

 

  /* responsividade */
  @media screen and (max-width: 600px){

    header{
      padding: 0 20px;  
  
    }
  
  
    #btn-user{
      display: none;
    }
  }