<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Receitas</title> 
</head>
<body>
    <header>
        <div id="interation">
            <!-- hamburguer -->
            <button class="btn"><i class="fa-solid fa-bars"></i></button>
            <!-- area de pesquisa -->
            <div id="seach">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Procure por sua receita..." class="btn" id="btn-seach">
            </div>
            <!-- usuario -->
            <div id="user">
                <button class="btn" id="btn-user"><i class="fa-solid fa-user"></i></button>
                <button class="btn" id="btn-cart" ><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
        </div>
    </header>

    <nav>
        <div id="dishes">
            <div class="options-dishes">
                <div class="option"><img src="/static/img/candy.png" alt="burger" id="candy"></div>
                <div class="option" ><img src="/static/img/pizza.png" alt="" id="pizza"></div>
                <div class="option" ><img src="/static/img/bife.png" alt="" id="bife" ></div>
                <div class="option" ><img src="/static/img/prato.png" alt="" id="prato"></div>
                <div class="option" ><img src="/static/img/drink.png" alt="" id="drink"></div>
                <div class="option" ><img src="/static/img/vegan.png" alt="" id="vegan"></div>   
            </div>
        </div>
    </nav>
</body>
</html>